html {
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.main-bg {
    background-image: url('/img/sofa-work-3.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.main-bg::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(9, 9, 9, 0.4);
}
html::-webkit-scrollbar {
    width: 10px;

}

html::-webkit-scrollbar-thumb {
    background-color: rgb(0, 47, 255);
}

html::-webkit-scrollbar-track {
    /* background-color: rgb(255, 255, 255); */

}

body {
    font-family: montserrat;
}

nav {
    background: #ffffff;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    /* top: 0; */
    z-index: 100000;
    width: 100%;
    box-shadow: 5px 15px 20px 10px rgba(0, 0, 0, 0.15);
}

label.logo {
    color: rgb(8, 8, 8);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    font-family: sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #ffd1c9;
    transition: .5s;
}

.checkbtn {
    color: black;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    color: black;
}

.logo-icon {}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    ::-webkit-scrollbar {
        width: 10px;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(0, 47, 255);
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
    }

    .checkbtn {
        display: block;
        color: #000000;
    }

    .myfirstcontainer {
        background-image: url('img/evgeni-tcherkasski-Gyp9-tIZxiw-unsplash.jpg');
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        z-index: 100;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
        color: black;
    }

    #main-header-bg {
        /* min-height: 50vh; */
    }
}


.heading-top {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-top h1 {
    width: 100%;
    color: white;
    font-size: 3.3rem;
    text-align: center;
}

.para {
    text-align: center;
    padding-top: .5rem;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

@media(max-width:858px) {
    .heading-top {
        width: 100%;
    }

    .heading-top h1 {
        font-size: 2.7rem;
        width: 100%;
    }

    .heading-top p {

        font-size: 2.1rem;
    }
}

/* service section  */
.our-service {
    padding-top: 2rem;
    text-align: center;
    width: 100%;
    min-height: 150vh;
}

.our-service h1 {
    font-size: 3rem;
}

.our-service p {
    font-size: 2rem;
}

.first-row-service-main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;

}

.col {
    height: 35rem;
    width: 30rem;
    border-radius: 2rem;
    /* border: .5px solid rgb(77, 75, 75); */
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 15px 20px 10px rgba(0, 0, 0, 0.15);
    transition: .5s;
}

@media(max-width:858px) {}

.col h3 {
    font-size: 2.5rem;
    color: rgb(0, 0, 104);
    padding-top: 2rem;
}

.col.active {
    transform: scale(1.1);

}

.col p {
    padding-top: 2rem;
}

.second-row-service-main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.logo img {
    width: 200px;
    padding-top: 1rem;
    height: 180px;
    border-radius: 50px;
}

/* service section end  */
.foot {
    /* margin-top: 20rem; */
}

@media(max-width:858px) {
    .our-service {
        min-height: 300vh;
    }

    .col {
        margin-top: 3rem;
        width: 94%;
        border-radius: .5rem;
    }



    .first-row-service-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .second-row-service-main {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0.1rem;
    }
}

/* footer */
.footer {
    width: 100%;
    text-align: center;
    background-color: #dddddd;
    min-height: 100vh;
}

.footer h3 {
    font-size: 5rem;
}

.footer p {
    font-size: 2rem;
}

.main-footer-first {
    display: flex;
    justify-content: space-between;

}

.first-col {
    font-size: 3rem;
    color: black;
    margin-top: 5rem;
    margin-left: 4rem;
}

.col-first img {
    height: 25rem;
    width: 30rem;
}

.email a {
    text-align: left;
}

.second-line-footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
}

.first-footer-para {
    width: 40%;
}

.foot-para {
    display: flex;
    flex-direction: column;
}

.foot-para a {
    font-size: 2rem;
}

@media(max-width:858px) {
    .footer {
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .main-footer-first {
        flex-direction: column;

    }

    .first-col {
        font-size: 1.5rem;

    }

    .first-footer-para {
        width: 100%;
        align-items: center;

    }

    .foot-para {
        margin-top: 2rem;
    }

    .second-line-footer {
        flex-direction: column;
    }
}